<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
       <link rel="stylesheet" href="../static/script2.js ">
    <link rel="stylesheet" href="../static/codigos/style2.css">

</head>
<body>
    <a href="index" ><button class="voltar">voltar</button></a>
    <a href="paginaconsulta"> <button class="consulta1">Consultar estoque atual</button></a>
    <a href="paginadonovoitem"><button class="consulta2">Inserir novo item</button></a>
    <a href="historico"><button class="consulta5">Histórico</button></a>    
    <a href="paginadeentrada"><button class="consulta3">Solicitar entrada</button></a>
    <a href="paginadesaida"><button class="consulta4">Solicitar saida</button></a>
</body>
</html>