<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style4.css') }}">
</head>
<body>
    <div class="overlay"></div>

    <div class="perfil">
        <img src="{{ url_for('static', filename='img/Viniciusatacadao.png') }}" alt="Foto do usuário">

        <h1>Vinicius Mariano Ferreira</h1>
        <p>Email: sasukimariano@gmail.com</p>
        <p>Cargo: eternamente estoquista</p>

        <button>Editar Perfil</button>
        <a href="menu.html"></a><button class="botao1">Sair</button>
    </div>
</body>
</html>